header {
  padding: 16px;
  border-radius: 32px;
  font-family: Vazirmatn, sans-serif;
  background-color: #00000080;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

header > svg {
  width: 64px;
  height: 64px;
}

header > h1 {
  color: #ffffff;
}
